body {
    background-color:  #0045f5;
    color: gray;
    text-decoration-color:  #D6FF6B;
    border: 3px solid black;
    border-radius: 30px; 
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

@keyframes color-change {
    0% {color: blue;}
  
    90% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 10s infinite;
}